<section class="page">

    <!-- Header -->
    <header class="page-header">
        <div>
            <h1>المشاريع</h1>
            <p>عرض وإدارة جميع المشاريع</p>
        </div>

        <div class="actions">
            <button class="btn-primary" routerLink="/dashboard/add_project">+ إضافة مشروع</button>
        </div>
    </header>

    <!-- Projects Grid -->
    <section class="projects-grid">



        @for(project of projects ; track $index){
        <article class="project-card">
            <div class="card-head">
                <h3>{{project.arTitle}}</h3>
                <span class="status done" [ngClass]="{  'done': project.arProjectCategory === 'عماره سكنيه',
  'active': project.arProjectCategory.includes('مجمع')}">{{project.arProjectCategory}}</span>
            </div>


            <div class="info ">
                <div class="card-actions">
                    <span>العميل</span>
                    <strong>مدائن</strong>
                </div>
                <div class="card-actions">
                    <span>تكلفة المشروع</span>
                    <strong>1,000,000</strong>
                </div>
            </div>

            <div class="card-actions">
                <button class="btn-primary" [routerLink]="['/dashboard/project_detils' , project.id]">عرض</button>
                <button class="btn-light" [routerLink]="['/dashboard/edit_project' , project.id]">تعديل</button>
                <button class="btn-danger" (click)="deleteProject(project.id , $index)">حذف</button>
            </div>
        </article>

        }


    </section>
</section>