<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="crumbs">لوحة التحكم <span>›</span> اضافة خبر </div>
        <button class="main_button_outline" routerLink="/dashboard/show_news">عرض الأخبار</button>

    </div>

    <h3 class="text-center mt-5">اضافة خبر </h3>
    <form [formGroup]="addForm" (ngSubmit)="submit()">
        <div class="row p-3 ">

            <div class="col-6">
                <div class="mb-3">
                    <label for="arTitle" class="form-label">اسم الخبر <span>*</span></label>
                    <input type="text" class="form-control" id="arTitle" formControlName="arTitle"
                        [class.invalid]="(submitted && addForm.get('arTitle')?.invalid) && addForm.get('arTitle')?.touched">
                    @if(addForm.get('arTitle')?.errors?.['pattern']){

                    <div class="error">لغة الادخال الصحيحة هي العربية</div>
                    }
                </div>
            </div>


            <!-- ==================== الوصف ================== -->

            <div class="col-6">
                <div class="mb-3">
                    <label for="arDescription" class="form-label">وصف الخبر <span>*</span></label>
                    <input type="text" class="form-control" id="arDescription" formControlName="arDescription"
                        [class.invalid]="(submitted && addForm.get('arDescription')?.invalid) && addForm.get('arDescription')?.touched">
                    @if(addForm.get('arDescription')?.errors?.['pattern']){

                    <div class="error">لغة الادخال الصحيحة هي العربية</div>
                    }
                </div>
            </div>


            <!-- ================== التاريخ ================= -->

            <div class="col-6">
                <div class="mb-3">
                    <label for="date" class="form-label">التاريخ<span>*</span></label>
                    <input type="date" class="form-control " id="date" formControlName="date"
                        [class.invalid]="(submitted && addForm.get('date')?.invalid) && addForm.get('date')?.touched">

                </div>
            </div>



            <!-- ==================  صورة الخبر ================= -->
             @if(addImg){

                 <div class="col-6">
                     <div class="mb-3">
                         <label for="imageFile" class="form-label">صورة للخبر <span>*</span></label>
                         <input type="file" class="form-control " id="imageFile"
                             [class.invalid]="(submitted && addForm.get('imageFile')?.invalid)" accept="image/*"
                             (change)="onImagesSelected($event)" >
                     </div>
                 </div>
             }
             @if(addVideo){

                 <div class="col-6">
                     <div class="mb-3">
                         <label for="vedioFile" class="form-label">فيديو للخبر <span>*</span></label>
                         <input type="file" class="form-control " id="vedioFile"
                             [class.invalid]="(submitted && addForm.get('VedioFile')?.invalid)" accept="video/*"
                             (change)="onVideoSelected($event)" formControlName="VedioFile">
                     </div>
                 </div>
             }

            <div class="col-6">
                <div class="midea">
                    @if(addVideo){

                        <div class="img" (click)="toggleToaddImg()">
                            <img src="assets/image.png" >
                            <span>اضافة صورة</span>
                        </div>
                    }

                    @if(addImg){
                        <div class="img" (click)="toggleToaddVideo()">
                            <img src="assets/video-marketing.png" alt="">
                            <span>اضافة فيديو</span>
                        </div>
                    }
                </div>
            </div>
        </div>

        <button class="main_button ">ارسال</button>

    </form>
</div>