<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="crumbs">لوحة التحكم <span>›</span> اضافة خدمة </div>
        <button class="main_button_outline" routerLink="/dashboard/show_services">عرض الخدمات</button>
    </div>

    <h3 class="text-center mt-5">اضافة خدمة </h3>
    <form [formGroup]="addForm" (ngSubmit)="submit()">
        <div class="row p-3 ">

            <div class="col-6">
                <div class="mb-3">
                    <label for="arTitle" class="form-label">اسم الخدمة <span>*</span></label>
                    <input type="text" class="form-control" id="arTitle" formControlName="arTitle"
                        [class.invalid]="(submitted && addForm.get('arTitle')?.invalid)">
                    @if(addForm.get('arTitle')?.errors?.['pattern']){

                    <div class="error">لغة الادخال الصحيحة هي العربية</div>
                    }
                </div>
            </div>


            <!-- ==================== الوصف ================== -->

            <div class="col-6">
                <div class="mb-3">
                    <label for="arDescription" class="form-label">وصف الخدمة <span>*</span></label>
                    <input type="text" class="form-control" id="arDescription" formControlName="arDescription"
                        [class.invalid]="(submitted && addForm.get('arDescription')?.invalid)">
                    @if(addForm.get('arDescription')?.errors?.['pattern']){

                    <div class="error">لغة الادخال الصحيحة هي العربية</div>
                    }
                </div>
            </div>
            


            <!-- ==================    فيديو الخدمة ================= -->

            <!-- <div class="col-6">
                <div class="mb-3">
                    <label for="videoFile" class="form-label">فيديو للخدمة <span>*</span></label>
                    <input type="file" class="form-control " id="videoFile"
                        [class.invalid]="(submitted && addForm.get('videoFile')?.invalid) && addForm.get('videoFile')?.touched"
                        accept="vedio/*" (change)="onVideoSelected($event)" formControlName="videoFile">
                </div>
            </div> -->

            <!-- ==================  صورة الخدمة ================= -->

            <div class="col-6">
                <div class="mb-3">
                    <label for="imageFile" class="form-label">صورة للخدمة <span>*</span></label>
                    <input type="file" class="form-control " id="imageFile"
                        [class.invalid]="(submitted && addForm.get('imageFile')?.invalid)"
                        accept="image/*" (change)="onImagesSelected($event)" formControlName="imageFile">
                </div>
            </div>
        </div>

        <button class="main_button ">ارسال</button>

    </form>
</div>